.login {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-135deg, rgb(139, 92, 246), rgb(76, 29, 149));
    background:
      linear-gradient(135deg,#0000 18.75%,rgb(76, 29, 149) 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,rgb(76, 29, 149) -6.25% 6.25%,rgb(69, 25, 136) 0 18.75%);
    background-size: 90px 90px;
}

h1 {
    font-size: 34px;
    margin-bottom: 20px;
    color: white;
}
    
h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form {
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 35px;

    * {
        font-family: 'Poppins',sans-serif;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    label {
        display: block;
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
    }
    
    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 4px;
        border: 1px solid #CCC;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    
    ::placeholder {
        color: #e5e5e5;
    }
    
    button {
        margin-top: 20px;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }
}
