
<div class="pagination">
    <ul class="pagination-list">
        <li *ngFor="let page of pageList"
            class="pagination-list-item"
            (click)="onPageClick(page)"
            [class.active]="page === currentPage">
            {{page}}
        </li>
    </ul>
    <div class="pagination-buttons">
        <span class="pagination-buttons-item" [class.disabled]="currentPage === 1">
            <span class="material-symbols-outlined">
                chevron_left
            </span>
        </span>
        <span class="pagination-buttons-item" [class.disabled]="currentPage === pageList.length">
            <span class="material-symbols-outlined">
                chevron_right
            </span>
        </span>
    </div>
</div>