
<div class="pagination">
    <ul class="pagination-list">
        <li>
            <a aria-current="page"
                href="#"
                class="router-link-active router-link-exact-active active"
                tabindex="0">1</a>
        </li>
        <li>
            <a href="#"
                class="router-link-active router-link-exact-active"
                tabindex="0">2</a>
        </li>
        <li>
            <a aria-current="page" href="#"
                class="router-link-active router-link-exact-active"
                tabindex="0">3</a>
        </li>
    </ul>
    <div class="pagination-buttons">
        <a aria-current="page"
            href="#"
            class="router-link-active router-link-exact-active nui-pagination-button" tabindex="0">
        </a>
    </div>
</div>